nav {
    padding: 1.5rem 0;
	background: white;
    .container-fluid {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .toggler {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
			cursor: pointer;
			height: 14px;
			width: 20px;
            .bar {
                background: black;
                width: 15px;
                height: 2px;
                margin-bottom: 0.25rem;
                &.top-bar {
                    transform: translate3d(6px, 0, 0);
                }
                &.middle-bar {
                    
                }
                &.bottom-bar {
                    transform: translate3d(6px, 0, 0);
                    margin: 0;
                }
            }
        }
        .genders {
            display: flex;
            align-items: center;
            a {
                width: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.4s ease-in-out;
                cursor: pointer;
                color: #c7c7c7;
                height: 30px;
                text-decoration: none;
                &:hover {
                    color: black;
                }
            }
            .divider {
                height: 35px;
                width: 2px;
                background: black;
            }
        }
        .cart {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none !important;
            img {
				margin-right: 0.5rem;
            }
            span {
                color: black;
            }
        }
    }
}

#menu {
    position: fixed;
    width: 300px;
    height: 100vh;
    background: rgb(236, 236, 236);
    z-index: 1000;
    top: 0;
	display: flex;
	padding: 1.5rem;
    align-items: center;
    overflow: hidden;
    transition: all 0.7s ease-in-out;
    transform: translate3d(-300px, 0, 0);
    opacity: 0;
    &.open {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        .links {
            a {
                transform: translateX(0) !important;
                opacity: 1 !important;
            }
        }
    }
    .close {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        img {
            height: 35px;
        }
    }
    .links {
        display: flex;
        flex-direction: column;
        a {
            font-size: 2rem;
            padding: 0.5rem;
            margin-bottom: 1.5rem;
            text-decoration: none !important;
            // text-align: center;
            transition: all 1s ease-in-out;
            opacity: 0;
			color: grey;
			&.active {
				color: #007bff;
				&:hover {
					color: #007bff;
				}
			}
            &:hover {
                color: black;
            }
            &:last-of-type {
            }
        }
    }
}