nav {
    padding: 1.5rem 0;
	background: white;
    .container-fluid {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .toggler {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
			cursor: pointer;
			height: 14px;
			width: 50px;
            .bar {
                background: black;
                width: 15px;
                height: 2px;
                margin-bottom: 0.25rem;
                &.top-bar {
                    transform: translate3d(6px, 0, 0);
                }
                &.middle-bar {
                    
                }
                &.bottom-bar {
                    transform: translate3d(6px, 0, 0);
                    margin: 0;
                }
            }
        }
        .genders {
            display: flex;
            align-items: center;
            a {
                width: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.4s ease-in-out;
                cursor: pointer;
                color: #c7c7c7;
                height: 30px;
                text-decoration: none;
                &:hover {
                    color: black;
				}
				&:first-of-type {

				}
				&:last-of-type {

				}
            }
            .divider {
                height: 35px;
                width: 2px;
                background: black;
            }
        }
        .cart {
            display: flex;
            align-items: center;
            justify-content: center;
			text-decoration: none !important;
			width: 50px;
            img {
				margin-right: 0.25rem;
            }
            span {
                color: black;
            }
        }
    }
}

#menu {
    position: fixed;
    width: 300px;
    height: 100vh;
    background: rgb(236, 236, 236);
    z-index: 1000;
    top: 0;
	display: flex;
	padding: 1.5rem;
    align-items: center;
    overflow: hidden;
    transition: all 0.7s ease-in-out;
    transform: translate3d(-300px, 0, 0);
    opacity: 0;
    &.open {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        .links {
            a {
                transform: translateX(0) !important;
                opacity: 1 !important;
            }
        }
    }
    .close {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        img {
            height: 35px;
        }
    }
    .links {
        display: flex;
        flex-direction: column;
        a {
            font-size: 2rem;
            padding: 0.5rem;
            margin-bottom: 1.5rem;
            text-decoration: none !important;
            // text-align: center;
            transition: all 1s ease-in-out;
            opacity: 0;
			color: grey;
			&.active {
				color: #007bff;
				&:hover {
					color: #007bff;
				}
			}
            &:hover {
                color: black;
            }
            &:last-of-type {
            }
        }
    }
}

.footer {
	background-color: #f8f9fa;
	.copyright {
		div {
			line-height: 1.5;
			a {
				color: #007bff;
			}
		}
	}

	.container {
		padding: 1rem;
	}

	ul {
		list-style: none;
		padding: 0;
		&.footer-company {
			li {
				line-height: 1.5;
				i {
					margin-right: 1rem;
					font-size: 1.5rem;
					color: #007bff;
				}
				&:nth-of-type(4) {
					margin-bottom: 1rem;
				}
				&:last-of-type {
					display: flex;
					align-items: center;
				}
			}
		}
		&.footer-sitemap {
			li {
				a {
					line-height: 1.5;
				}
			}
		}
		&.footer-social {
			.social {
				margin-right: 1rem;
				color: #007bff;
				font-size: 1.5rem;
			}
		}
	}

	h6 {
		display: block;
		font-size: 1rem;
		color: rgb(80, 80, 80);
		margin: 1.5rem 0;
		padding-bottom: 0.5rem;
		border-bottom: 1px solid #d7d7d7;
		font-weight: 600;
	}

	.bottom {
		border-top: 1px solid #d7d7d7;
		margin-top: 1.5rem;
		padding: 1rem;
	}

}